.sidebar {
    width: 200px;
    height: 100%;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
  
  .sidebar.expanded {
    width: 200px; /* 展开时的宽度 */
  }
  
  .sidebar.collapsed {
    width: 0px; /* 收缩时的宽度 */
  }

  .ant-tabs-tab {
    padding: 0;
  }
  
  .content {
    padding: 20px;
  }
  
  .toggle-btn {
    position: absolute;
    bottom: 10px;
    left: 5px;
  }
  