.diff-container {

    div[contentEditable="true"]:focus {
        outline: 3px solid #377bdaa5; /* 设置为你想要的颜色和样式 */
        outline-offset: -2px;
        border-radius: 6px;
        border-color: #6699cc;
    }

    [contentEditable]:focus {

    }

    [contentEditable] {
        -webkit-user-modify: read-write-plaintext-only;
        word-break: break-all;
        text-align: left;
        white-space: pre-wrap;
        vertical-align: top;
    }

    font-family: consolas, menlo, monaco, "Ubuntu Mono", "source-code-pro", monospace;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 6px;

    &.diff-theme-dark {
        background-color: #343641;
        color: white;
    }

    &.diff-theme-light {
        border: 1px solid #d6daf7;
    }

    .diff-left,.diff-right {
        padding: 8px 12px;
        width: 50%;

        del {
            text-decoration: none;
            color: #b30000;
            background: #fadad7;
        }
        
        ins {
            background: #eaf2c2;
            color: #406619;
            text-decoration: none;
        }
    }

    .diff-left {
        border-radius: 6px;
        border-right: 1px solid #8e8ea0;
    }
}