.header {
    .logo {
        float: left;
        width: 12vw;
        text-align: left;
        letter-spacing: 3px;
        color: transparent;
        background: linear-gradient(to right, rgb(151, 209, 104), rgb(236, 173, 137));
        -webkit-background-clip: text;
        font-size: 24px;
        font-weight: 700;
      }
}