.header {
    .logo {
        float: left;
        width: 8vw;
        text-align: left;
        letter-spacing: 3px;
        color: transparent;
        background: linear-gradient(to left, #97d168, #e799ef);
        -webkit-background-clip: text;
        font-size: 24px;
        font-weight: 700;
      }

      height: 36px;
      line-height: 36px;
      padding: 0 24px;
}